.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.graph-canvas {
  flex: 1;
}

.json-view {
  width: 50%;
}

.json-container {
  position: absolute;
  transition: all 1s;
  width: 22%;
  overflow-x: hidden;
  transform: translateX(100%);
  right: 0;
  top: 0;
  bottom: 0;
}

.options-container {
  height: 100%;
  
  padding: 2rem;
}

.options-container > div {
  margin-top: 10px;
}

.options-container > * > p {
  padding: 0;
  margin: 0;
  color: white;
}

.container-show {
  transform: translateX(0);
}

